[Desktop Entry]
Type=Application
Name=openGhub
GenericName=Gaming Mouse Configuration
Comment=Configure supported Logitech gaming mice on Linux
Exec=openghub
Icon=openghub
Terminal=false
Categories=Utility;Settings;HardwareSettings;
Keywords=mouse;logitech;gaming;dpi;polling;haptics;openghub;
